name: CICD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build -t node-docker-app .

      - name: Save Docker image to file
        run: |
          docker save node-docker-app -o node-docker-app.tar

      - name: Copy Docker image to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "node-docker-app.tar"
          target: "~/node-docker-app/node-docker-app.tar"

      - name: Deploy on EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/node-docker-app
            docker load -i node-docker-app.tar
            docker stop node-docker-app || true
            docker rm node-docker-app || true
            docker run -d -p 80:3000 --name node-docker-app node-docker-app
